<h2>Welcome to the calculator</h2>
<form method="post" action="/math/calculator">
  <input type="number" name="left" value="0" required>
  <input type="number" name="right" value="0" step="any" required>
  <button name ="mathChoice" value= "+">+</button>
  <button name ="mathChoice" value= "-">-</button>
  <button name ="mathChoice" value= "/">/</button>
  <button name ="mathChoice" value= "*">*</button>
  <button name ="mathChoice" value= "%">%</button>
  <button name ="mathChoice" value= "^">^</button>
</form> 
 
